$screen-xsmall: 320; /*mobile portrait*/
$screen-small: 480; /*mobile landscape*/
$screen-medium: 768; /*tablet*/
$screen-medium-large: 992;
$screen-large: 1024; /*desktop*/
$screen-xlarge: 1200;

$query-xsmall: 'only screen and (min-width : #{$screen-xsmall}px)';
$query-small: 'only screen and (min-width : #{$screen-small}px)';
$query-medium: 'only screen and (min-width : #{$screen-medium}px)';
$query-medium-large: 'only screen and (min-width : #{$screen-medium-large}px)';
$query-large: 'only screen and (min-width : #{$screen-large}px)';
$query-xlarge: 'only screen and (min-width : #{$screen-xlarge}px)';

/* Mobile first */
@mixin landscape {
  @media #{$query-small} {
    @content;
  }
}

@mixin tablet {
  @media #{$query-medium} {
    @content;
  }
}

@mixin tablet-large {
  @media #{$query-medium-large} {
    @content;
  }
}

@mixin desktop {
  @media #{$query-large} {
    @content;
  }
}

@mixin widescreen {
  @media #{$query-xlarge} {
    @content;
  }
}

/* Desktop first */
@mixin mobile-only {
  @media only screen and (max-width: ($screen-medium - 1) * 1px) {
    @content;
  }
}

@mixin tablet-down {
  @media only screen and (max-width: ($screen-large - 1) * 1px) {
    @content;
  }
}



