$maxColumns: 12;
$total-width: 100;
$gutter: 10px;

@function getWidth($cols, $base: 12){
    @return ($cols*$total-width / $base)*1%;
}

.grid{
    width: 100%;
    height: auto;

    & > div[class^='c-']{
        float: left;
        padding-left: $gutter;
        padding-right: $gutter;
        box-sizing: border-box;
        min-height: 1px;
    }

    &:after{
        content: "";
        display: table;
        clear: both;
    }

    &.no-gutter{
        & > div[class^='c-']{
            padding: 0;
        }
    }
    
    &.same-height{
        overflow: hidden;

        & > div[class^='c-']{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
        }
    }

    /*
     * DEFAULT (FLUID COLUMNS)
     * Default columns are fluid (non-responsive)
     * throughout all resolutions
     */

    @for $i from 1 through $maxColumns {
        .c-#{$i} {
            width: getWidth($i, $maxColumns);
        }
    }

    // @for $i from 1 through $maxColumns {
    //     .c-#{$i} {
    //         width: getWidth($i, $maxColumns);
    //     }
    // }

    /*
     * MOBILE
     * (No need to add column styles from mobile up since these
     * are defined in the default classes. Using mobile to define
     * widths for mobile only screen sizes.)
     */
    
    @include mobile-only{
        @for $i from 1 through $maxColumns {
            .c-m-#{$i} {
                width: getWidth($i, $maxColumns);
            }
        }
    }

    /*
     * TABLET
     */
    @include tablet{
        @for $i from 1 through $maxColumns {
            .c-t-#{$i} {
                width: getWidth($i, $maxColumns);
            }
        }
    }

    /*
     * DESKTOP
     */
    @include desktop{
        @for $i from 1 through $maxColumns {
            .c-d-#{$i} {
                width: getWidth($i, $maxColumns);
            }
        }
    }

    /*
     * VERTICAL STACK
     * An alternative to .c-m-12 or .c-t-12
     * columns stack vertically in mobile or tablet resolutions
     */
    &.mobile-stack{
        @include mobile-only{
            & > div[class^='c-']{
                width: 100%;
            }
        }
    }

    &.tablet-stack{
        @include tablet-down{
            & > div[class^='c-']{
                width: 100%;
            }
        }
    }
}
