.demo [class*='grid'] > div{
    background-color: #CFEDFB;
    border: solid 1px #9BDAF3;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.grid.same-height{
    border-bottom: solid 1px #9BDAF3;
}

.demo [class*='grid'] > div span{
    display: block;
}

.demo .grid{
    /*margin-bottom: 20px;*/
}

.table .grid i, 
.table .grid span{
    padding: 5px 0;
    display: inline-block;
}

.table .grid:nth-child(2n+1){
    background-color: #fcfcfc;
}
