/*
  Picnic Grid System
  @author: Francisco Sevilla
  @description: A lightweight, easy to use yet versatile, mobile-first responsive grid system. 
  @project: https://github.com/fsevilla/Picnic-Grid
  @version: 1.0
*/
.grid {
  width: 100%;
  height: auto; }
  .grid > div[class^='c-'] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    min-height: 1px; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid.no-gutter > div[class^='c-'] {
    padding: 0; }
  .grid.same-height {
    overflow: hidden; }
    .grid.same-height > div[class^='c-'] {
      margin-bottom: -99999px;
      padding-bottom: 99999px; }
  .grid.rtl > div[class^='c-'] {
    float: right; }
  .grid .c-1 {
    width: 8.33333%; }
  .grid .c-2 {
    width: 16.66667%; }
  .grid .c-3 {
    width: 25%; }
  .grid .c-4 {
    width: 33.33333%; }
  .grid .c-5 {
    width: 41.66667%; }
  .grid .c-6 {
    width: 50%; }
  .grid .c-7 {
    width: 58.33333%; }
  .grid .c-8 {
    width: 66.66667%; }
  .grid .c-9 {
    width: 75%; }
  .grid .c-10 {
    width: 83.33333%; }
  .grid .c-11 {
    width: 91.66667%; }
  .grid .c-12 {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .grid .c-m-1 {
      width: 8.33333%; }
    .grid .c-m-2 {
      width: 16.66667%; }
    .grid .c-m-3 {
      width: 25%; }
    .grid .c-m-4 {
      width: 33.33333%; }
    .grid .c-m-5 {
      width: 41.66667%; }
    .grid .c-m-6 {
      width: 50%; }
    .grid .c-m-7 {
      width: 58.33333%; }
    .grid .c-m-8 {
      width: 66.66667%; }
    .grid .c-m-9 {
      width: 75%; }
    .grid .c-m-10 {
      width: 83.33333%; }
    .grid .c-m-11 {
      width: 91.66667%; }
    .grid .c-m-12 {
      width: 100%; } }
  @media only screen and (min-width: 768px) {
    .grid .c-t-1 {
      width: 8.33333%; }
    .grid .c-t-2 {
      width: 16.66667%; }
    .grid .c-t-3 {
      width: 25%; }
    .grid .c-t-4 {
      width: 33.33333%; }
    .grid .c-t-5 {
      width: 41.66667%; }
    .grid .c-t-6 {
      width: 50%; }
    .grid .c-t-7 {
      width: 58.33333%; }
    .grid .c-t-8 {
      width: 66.66667%; }
    .grid .c-t-9 {
      width: 75%; }
    .grid .c-t-10 {
      width: 83.33333%; }
    .grid .c-t-11 {
      width: 91.66667%; }
    .grid .c-t-12 {
      width: 100%; } }
  @media only screen and (min-width: 1024px) {
    .grid .c-d-1 {
      width: 8.33333%; }
    .grid .c-d-2 {
      width: 16.66667%; }
    .grid .c-d-3 {
      width: 25%; }
    .grid .c-d-4 {
      width: 33.33333%; }
    .grid .c-d-5 {
      width: 41.66667%; }
    .grid .c-d-6 {
      width: 50%; }
    .grid .c-d-7 {
      width: 58.33333%; }
    .grid .c-d-8 {
      width: 66.66667%; }
    .grid .c-d-9 {
      width: 75%; }
    .grid .c-d-10 {
      width: 83.33333%; }
    .grid .c-d-11 {
      width: 91.66667%; }
    .grid .c-d-12 {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .grid.mobile-stack > div[class^='c-'] {
      width: 100%; } }
  @media only screen and (max-width: 1023px) {
    .grid.tablet-stack > div[class^='c-'] {
      width: 100%; } }

header {
  background-color: #0c0c0c;
  position: relative;
  z-index: 1; }
  header nav {
    font-size: 1em;
    text-align: right; }
    header nav a {
      color: #fafafa;
      line-height: 42px;
      display: inline-block;
      margin: 5px 6px 0;
      border-bottom: solid 3px transparent;
      padding: 0 2px;
      text-decoration: none; }
      header nav a.active, header nav a:hover, header nav a:focus {
        border-color: #fafafa; }
      header nav a.logo {
        float: left;
        font-size: 1.25em; }

footer {
  width: 100%;
  font-size: 0.9em;
  padding: 0;
  background-color: #0c0c0c;
  color: #fafafa;
  line-height: 80px;
  margin-top: 40px; }
  footer a {
    color: #ccc; }
  footer .grid > div:last-child {
    text-align: right; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif; }

#mainContainer {
  width: 100%;
  height: auto; }

.clearfix,
section:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

section {
  position: absolute;
  width: 100%;
  box-sizing: border-box; }
  section h2 {
    padding: 0 10px; }

section:nth-of-type(2) {
  top: 100%;
  font-size: 1.15em; }

.banners {
  top: 40px;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .banners .banner {
    width: 100%;
    height: 100%; }
    .banners .banner:after {
      content: "";
      background: url(../images/background.jpg) center bottom 0 no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.9;
      z-index: -1; }
    .banners .banner > div {
      position: relative;
      z-index: 1;
      color: #fff;
      top: 30%;
      text-align: center; }
      .banners .banner > div h1, .banners .banner > div h2 {
        font-weight: normal; }
      .banners .banner > div h1 {
        text-shadow: 2px 2px 3px #333;
        margin: 0;
        font-size: 3em; }
      .banners .banner > div p {
        margin: 10px 0;
        font-size: 1.25em;
        width: 50%;
        line-height: 28px; }
      .banners .banner > div a {
        background-color: transparent;
        display: inline-block;
        padding: 6px 20px;
        border: solid 1px #fff;
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        transition: background-color 0.2s ease;
        margin-top: 10px; }
        .banners .banner > div a:hover, .banners .banner > div a:focus {
          background-color: rgba(255, 255, 255, 0.2); }
  .banners .scroll {
    font-size: 60px;
    color: #fff;
    position: absolute;
    width: 60px;
    text-align: center;
    bottom: 20px;
    z-index: 2;
    left: 50%;
    margin-left: -30px;
    line-height: 60px; }

#content {
  padding: 20px; }

#content a {
  color: #666;
  text-decoration: none; }

span.removed {
  text-decoration: line-through; }

#content h2 {
  margin: 40px 0 10px;
  padding: 0; }

#content p {
  margin: 15px 0; }

#content {
  color: #202020; }

#features {
  text-align: center; }

#features i {
  font-size: 5em; }

#features h3 {
  margin: 0; }

#features > div {
  margin-bottom: 20px; }

#content pre {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
